.input {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
}
.input label {
	/* 2 Block model */
	margin: 0;
	padding: 0;

	/* 3 Typography */
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: black;
}
.input input {
	/* 2 Block model */
	margin: 0;
	padding: 5px 10px;

	/* 3 Typography */
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: black;

	/* 4 Visual */
	border: 2px solid black;
}
.input input:focus {
	/* 4 Visual */
	outline: 2px solid #fc0;
}
.input input:active {
	/* 4 Visual */
	outline: 3px solid gray;
}
.input input::-webkit-input-placeholder {
	/* 3 Typography */
  color:  red;
}
.input input:-moz-placeholder {
	/* 3 Typography */
  color:  red;
  text-overflow:ellipsis;
}
.input input::-moz-placeholder {
	/* 3 Typography */
  color:  red;
  text-overflow:ellipsis;
}
.input input:-ms-input-placeholder {
	/* 3 Typography */
  color: red;
  text-overflow:ellipsis;
}
.input input[placeholder] {
	/* 3 Typography */
	text-overflow:ellipsis;
}