.link {
	/* 3 Typography */
	color: blue;
	text-decoration: none;
}
.link:hover {
	/* 3 Typography */
	text-decoration: underline;
}
.link:active {
	/* 3 Typography */
	color: gray;
}
.link:visited {
	/* 3 Typography */
	color: red;
}